::-webkit-scrollbar {
    width: 6px; /* ширина для вертикального скролла */
    height: 6px; /* высота для горизонтального скролла */
    background-color: #1b222a;
}
::-webkit-scrollbar-thumb {
    background-color: #2a3742;
    height: 56px;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #cdd6f4;
}
::selection {
    background: #5885BA;
	color: #1b222a;
}
::-moz-selection {
    background: #5885BA;
	color: #1b222a;
}
::-webkit-selection {
    background: #5885BA;
	color: #1b222a;
}
